<div class="contents">
	<div class="main-contents">
		<div class="post-list">
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_377522251-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_279275555-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>この記事を書いた人｜ライタープロフィールを作成できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_295702355-640x360.jpg"%>">
				<span class="item-category">JINの特徴</span>
				<h2>「コンテンツマガジン」でユーザーが回遊しやすい記事リストへ！</h2>
				<span class="item-date">1月 26,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_527675818-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>使いやすい「スマホフッターメニュー」でユーザリビティを高めよう！</h2>
				<span class="item-date">1月 11,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_471769004-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>カラーを自由自在に変更できる！CSSがわからなくても使いこなせる！</h2>
				<span class="item-date">1月 11,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_151174712-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>「インフィード広告機能」に対応！ブログの収益化にをさらに後押し</h2>
				<span class="item-date">1月 11,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_285640730-640x360.jpg"%>">
				<span class="item-category">JINのエディタ</span>
				<h2>会話のための「吹き出し」を標準搭載！デザインバリエーションは30種類以上！</h2>
				<span class="item-date">1月 11,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_288725276-640x360.jpg"%>">
				<span class="item-category">JINの特徴</span>
				<h2>JINは内部SEO対策済み！サイトの上位表示を後押しします！</h2>
				<span class="item-date">1月 11,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_229543828-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>Google Analyticsなどを簡単に導入できる「HTMLタグ設定」</h2>
				<span class="item-date">1月 11,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_224637184-640x360.jpg"%>">
				<span class="item-category">JINの特徴</span>
				<h2>重要記事を表示する「ピックアップ」でユーザビリティを高めよう！</h2>
				<span class="item-date">1月 10,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_431592634-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>「広告管理」で管理画面から広告一元管理！収益性と効率をアップしよう！</h2>
				<span class="item-date">1月 10,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_252732910-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>CTA（注目エリア）を設置して収益アップ！カテゴリ分けにも対応！</h2>
				<span class="item-date">1月 10,2018</span>
			</div>
		</div>
	</div>

	<div class="side-bar">
		<div class="side1">
			<div class="theme-title">WordPressテーマ「JIN」</div>
			<div class="theme-exp">
				<img src="<%= asset_path "demo_banner.png" %>">
				<p>「アフィリエイト」と「SEO」に必要な機能を全て詰め込んだテーマが完成。売れるサイト作りを確実に後押しします。</p>
			</div>
			<div class="downlode">
				<a href="#" class="btn">今すぐダウンロード</a>
			</div>
		</div>
		<div class="side2">
			<div class="profile">
				<img src="<%= asset_path "shutterstock_451391740-150x150.jpg" %>">
				<div class="profile-name">
					<P class="name">JIN</P>
					<p class="job">WordPress Template</p>
				</div>
				<div>
					<p>読む人も、書く人も、すべてを考え抜いたデザインを実現。真の使いやすさを追求したWordPressテーマです。「アフィリエイト」と「SEO」に必要なものは、すべて詰め込みました。売れるサイト作り確実に後押しします。</p>
					<a href="#">詳しくみる</a>
				</div>
			</div>
			<div class="follow">
				<P class="follow-title">\Follow me/</P>
				<div class="sns-btn">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="side3">
			<p class="recent-title">RECENT POST</p>
			<div class="recent-post">
				<a href="#" class="recent-post-box">
					<img src="<%= asset_path "shutterstock_377522251-320x180.jpg" %>">
					<span>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</span>
				</a>
				<a href="#" class="recent-post-box">
					<img src="<%= asset_path "shutterstock_279275555-320x180.jpg" %>">
					<span>この記事を書いた人｜ライタープロフィールを作成できる</span>
				</a>
				<a href="#" class="recent-post-box">
					<img src="<%= asset_path "shutterstock_295702355-320x180.jpg" %>">
					<span>「コンテンツマガジン」でユーザーが回遊しやすい記事リストへ！</span>
				</a>
				<a href="#" class="recent-post-box">
					<img src="<%= asset_path "shutterstock_527675818-320x180.jpg" %>">
					<span>使いやすい「スマホフッターメニュー」でユーザリビティを高めよう！</span>
				</a>
				<a href="#" class="recent-post-box">
					<img src="<%= asset_path "shutterstock_471769004-320x180.jpg" %>">
					<span>カラーを自由自在に変更できる！CSSがわからなくても使いこなせる！</span>
				</a>
			</div>
		</div>
		<div class="side4">
			<p class="side-category-title">CATEGORY</p>
			<select name="cat"></select>
		</div>
		<div class="side5">
			<p class="side-tag-title">TAG</p>
			<div class="side-tag">
				<a href="#" class="btn">SEO</a>
				<a href="#" class="btn">WordPress</a>
				<a href="#" class="btn">おすすめ機能</a>
				<a href="#" class="btn">エディタ</a>
				<a href="#" class="btn">スマホ</a>
				<a href="#" class="btn">ツール</a>
				<a href="#" class="btn">デザイン</a>
				<a href="#" class="btn">ユーザビリティ</a>
				<a href="#" class="btn">収益化</a>
				<a href="#" class="btn">広告</a>
			</div>
		</div>
		<div class="side6">
			<p class="search-title">SEARCH</p>
			<input type="search" name="search">
		</div>
		<div class="side7">
			<p class="recommend-title">RECOMMEND</p>
			<a href="#">
				<img src="<%= asset_path "shutterstock_204195961-320x180.jpg" %>">
				<span>「JIN（ジン）」の特徴｜アフィリエイトのノウハウが凝縮されたWordPressテーマ</span>
			</a>
		</div>
	</div>
</div>