<div class="contents">
	<div class="main-contents">
		<div class="post-list">
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_377522251-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_279275555-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_295702355-640x360.jpg"%>">
				<span class="item-category">JINの特徴</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_527675818-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_471769004-640x360.jpg"%>">
				<span class="item-category">JINのデザイン</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_151174712-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_285640730-640x360.jpg"%>">
				<span class="item-category">JINのエディタ</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_288725276-640x360.jpg"%>">
				<span class="item-category">JINの特徴</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_229543828-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_224637184-640x360.jpg"%>">
				<span class="item-category">JINの特徴</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_431592634-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
			<div class="post-list-item">
				<img src="<%= asset_path "shutterstock_252732910-640x360.jpg"%>">
				<span class="item-category">収益化機能</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span class="item-date">2月 27,2018</span>
			</div>
		</div>
	</div>

	<div class="side-bar"></div>
</div>